{% extends'common.html' %}
{% block content %}
{% include 'admin_menu.html' %}
        <!----------container start--------->
        <div class="container p-5">
            <div class="alert alert-success">
                <strong>Hola!</strong> Welcome to dashboard Admin.
            </div>
            <div class="card">
                <div class="card-body">
                    <!----------content start--------->
      What Students Should Know About Digital Business
While the “digital transformation” has been underway for years, COVID-19 accelerated the timeline. As organizations have shifted to digital in response to the pandemic, they have been forced to come up with new ways to progress toward their business goals -- all while dealing with new obstacles with technology and the people using it. Even when the coronavirus is behind us, most experts agree that in the “new normal” of the post-COVID business world, digital is here to stay.
So if you are planning on a business career, a comprehensive understanding of digital business can have a significant impact on your future.
                    <!----------content end--------->
                </div>
            </div>
        </div>
    <!----------container end--------->
{% endblock %}
